@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 26, 26, 26;
  --background-end-rgb: 26, 26, 26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 26, 26, 26;
    --background-start-rgb: 26, 26, 26;
    --background-end-rgb: 26, 26, 26;
  }
}

body {
  background-color: #1a1a1a;
  overflow: hidden;
}

body {
  font-family: "Avenir Next", sans-serif;
  color: rgb(var(--foreground-rgb));
}

p {
  font-family: "Avenir Next", sans-serif;
}

.text-stroke {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}
.text-stroke-dark {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

/* Link Hover Effect */
@media screen and (min-width: 1000px) {
  .pseudo-text-effect {
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform 0.25s;
    display: block;
  }
  .pseudo-text-effect::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    transition: inherit;
  }
  .pseudo-text-effect > span {
    display: inline-block;
    transform: translateY(0%);
    transition: inherit;
  }
  .pseudo-text-effect:hover > span {
    transform: translateY(-100%);
  }
  .pseudo-text-effect:hover::after {
    transform: translateY(0%);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(156, 163, 175);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

li > span {
  transition: 0.25s;
}

li:hover > span {
  padding-top: 56px;
  transition: 0.25s;
}
