@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 26, 26, 26;
  --background-end-rgb: 26, 26, 26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 26, 26, 26;
    --background-start-rgb: 26, 26, 26;
    --background-end-rgb: 26, 26, 26;
  }
}

body {
  background-color: #1a1a1a;
  overflow-x: hidden;
}

body {
  font-family: "Avenir Next", sans-serif;
  color: rgb(var(--foreground-rgb));
}

.text-stroke {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

@media screen and (min-width: 1000px) {
  .pseudo-text-effect {
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform 0.25s;
    display: block;
  }
  .pseudo-text-effect::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    transition: inherit;
  }
  .pseudo-text-effect > span {
    display: inline-block;
    transform: translateY(0%);
    transition: inherit;
  }
  .pseudo-text-effect:hover > span {
    transform: translateY(-100%);
  }
  .pseudo-text-effect:hover::after {
    transform: translateY(0%);
  }
}
